[submodule "frontend"]
	path = frontend
	url = git@github.com:derpierre65/WirVsVirus-SortierterEinkauf-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/engelant/WirVsVirus-SortierterEinkauf-Backend
